- name: "HTH | Systemd | Encrypt variable"
  no_log: true
  community.general.systemd_creds_encrypt:
    name: "{{ credential.name }}"
    not_after: "{{ credential.not_after | default(omit) }}"
    timestamp: "{{ credential.timestamp | default(omit) }}"
    user: "{{ credential.user | default(omit) }}"
    secret: "{{ lookup('vars', credential.variable) }}"
  register: hth_systemd_encrypted_credentials
  when:
    - credential.remove is undefined or not credential.remove
    - credential.variable is defined

- name: "HTH | Systemd | Encrypt value"
  no_log: true
  community.general.systemd_creds_encrypt:
    name: "{{ credential.name }}"
    not_after: "{{ credential.not_after | default(omit) }}"
    timestamp: "{{ credential.timestamp | default(omit) }}"
    user: "{{ credential.user | default(omit) }}"
    secret: "{{ credential.value }}"
  register: hth_systemd_encrypted_credentials
  when:
    - credential.remove is undefined or not credential.remove
    - credential.value is defined

- name: "HTH | Systemd | Create credential file"
  ansible.builtin.copy:
    dest: "/etc/credstore.encrypted/{{ credential.name }}"
    content: "{{ hth_systemd_encrypted_credentials }}"
    owner: root
    group: root
    mode: 0700
  changed_when: "'molecule-idempotence-notest' not in ansible_skip_tags"
  when:
    - credential.remove is undefined or not credential.remove

- name: "HTH | Systemd | Remove credential file"
  ansible.builtin.file:
    path: "/etc/credstore.encrypted/{{ credential.name }}"
    state: absent
  when:
    - credential.remove is defined
    - credential.remove
